@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="/home/fpsgame2">To Play Police FPS Game -2 Click here</a>
    <h1 class="display-4">Welcome To FPS Shooter</h1>
    <div id="score" class="badge bg-success">Score: 0</div>
    <br />
    <div id="shoot-info" class="badge bg-primary">Click or press Space to shoot</div>
    <div id="instructions">
        <p>Click to play</p>
    </div>
   
</div>
